<!-- Start page_footer include -->
<footer class="facet-footer">
<div class="container">
  <div class="text-center">
    <p>
    <a href="/community.html">Contact Us</a>&ensp;·&ensp;
    <a href="/downloads.html">Downloads</a>&ensp;·&ensp;
    <a href="/faq.html">FAQ</a>
    </p>
  </div>
  <div class="text-center">
    <a href="{{site.data.contact.forum}}"><span class="fa fa-lg fa-comments"></span></a>&ensp;·&ensp;
    <a href="{{site.data.contact.twitter}}"><span class="fa fa-lg fa-twitter"></span></a>&ensp;·&ensp;
    <a href="{{site.data.contact.github}}"><span class="fa fa-lg fa-github"></span></a>
  </div>
</div>
</footer>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-40280432-3");
  pageTracker._trackPageview();
  } catch(err) {}
</script>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- stop page_footer include -->
